*{
  padding: 0;
  margin: 0;
}
.container{
  position: relative;

}

.test{
  height: 10px;
  width: 10px;
  background-color: green;
  position: absolute;
  top: 10px;
  left: 10px;
}

.snakeBody{
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: black;
}

#head{
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: black;
  top: 50px;
  left: 20px;
}